@use 'sass:math';

$green-dark: #509D56;
$green-light: #60BC67;
$sprite-size: 96px;
$drop-shadow: drop-shadow(4px 4px 0 rgba(0, 0, 0, 0.25));

$bamboo-segment: $green-light;
$bamboo-joint: $green-dark;
$bamboo-leaf: $green-dark;
$bamboo-leaf-light: $green-light;
$bamboo-leaf-size: 30px;
$bamboo-width: 14px;
$bamboo-segment-height: 80px;
$bamboo-segment-end: 6px;
$bamboo-segment-padding: 6px;
$bamboo-border-radius: 3px;

$world-scale: 1;

.pet-panda-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: $world-scale * 100%;
  max-width: $world-scale * 100%;
  height: $world-scale * 100%;
  max-height: $world-scale * 100%;
  transform: scale(math.div(1, $world-scale));
  transform-origin: 0 0;
  overflow: hidden;

  .pet-panda-world {
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    overflow: hidden;

    .panda {
      position: absolute;
      bottom: $sprite-size * -0.03125;
      left: 0;
      background-image: url('panda.png');
      background-size: (5 * $sprite-size) (8 * $sprite-size);
      background-position: 0 0;
      width: $sprite-size;
      height: $sprite-size;
      image-rendering: pixelated;
      image-rendering: -moz-crisp-edges;
      image-rendering: crisp-edges;
      z-index: 5;
      filter: $drop-shadow;
      overflow: hidden;

      &.sitting {
        bottom: $sprite-size * -0.03125;
        animation: 1s pet-panda-sitting infinite steps(1);
      }

      &.eating {
        bottom: $sprite-size * -0.03125;
        background-position: 0 -200%;
      }

      &.walking {
        bottom: $sprite-size * -0.0625;
        animation: 1s pet-panda-walking infinite steps(1);

        &.left {
          animation: 1s pet-panda-walking-left infinite steps(1);
        }
      }
    }
  }
}

@keyframes pet-panda-sitting {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: -100% 0;
  }
}

@keyframes pet-panda-walking {
  0% {
    background-position: 0 -300%;
  }
  25% {
    background-position: -100% -300%;
  }
  50% {
    background-position: 0 -300%;
  }
  75% {
    background-position: -200% -300%;
  }
}

@keyframes pet-panda-walking-left {
  0% {
    background-position: 0 -500%;
  }
  25% {
    background-position: -100% -500%;
  }
  50% {
    background-position: 0 -500%;
  }
  75% {
    background-position: -200% -500%;
  }
}

.pet-panda-bamboo {
  font-size: 0;
  width: $bamboo-width;
  box-sizing: border-box;
  transform-origin: 50% 100%;
  filter: $drop-shadow;

  .segment {
    position: relative;
    background: $bamboo-segment;
    width: calc(100% - #{$bamboo-segment-padding});
    height: $bamboo-segment-height;
    margin: auto;

    &:first-child {
      margin-top: $bamboo-segment-end * 0.5;
    }

    &:before,
    &:after {
      position: absolute;
      content: "";
      width: calc(100% + #{$bamboo-segment-padding * 0.5});
      height: $bamboo-segment-end;
      border-radius: $bamboo-border-radius;
      background: $bamboo-joint;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    &:before {
      top: 0;
    }

    &:after {
      top: 100%;
    }

    .leaf {
      position: absolute;
      bottom: 0;

      &:before {
        content: "";
        position: relative;
        display: block;
        width: $bamboo-leaf-size;
        height: $bamboo-leaf-size;
        border-radius: 100%;
        background: $bamboo-leaf;
      }

      &.light {
        &:before {
          background: $bamboo-leaf-light;
        }
      }

      &.right30,
      &.right60 {
        right: -$bamboo-leaf-size + $bamboo-segment-padding;
        transform-origin: 0 100%;

        &:before {
          border-radius: 100% 0;
        }
      }

      &.right30 {
        transform: rotate(0);
      }

      &.right60 {
        transform: rotate(30deg);
      }

      &.left30,
      &.left60 {
        left: -$bamboo-leaf-size + $bamboo-segment-padding;
        transform-origin: 100% 100%;

        &:before {
          border-radius: 0 100%;
        }
      }

      &.left30 {
        transform: rotate(0);
      }

      &.left60 {
        transform: rotate(-30deg);
      }
    }
  }
}
